.footer {
  background-color: #0074e4;
  color: #fff;
  bottom: 0;
  right: 0.75%;
  left: 0.75%;
  text-align: center;
  display: block;
  align-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.footer h1 {
  font-size: 1.3em;
  background-color: #000000 ;
  width: 6%;
  height: 3%;
  display: inline-block;
  text-align: center;
  border: 1px solid #000080; /* Light border */

}
.footer h2, h3{
  background-color: #000000 ;
  width: 25%;
  font-size: 1.1em;
  font-family: "Arial", sans-serif;
  display: inline-block;
  text-align: center;

}




