.footer {
  background-color: #0074e4;
  color: #fff;
  bottom: 0;
  right: 0.75%;
  left: 0.75%;
  text-align: center;
  display: block;
  align-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.footer h1 {
  font-size: 1em;

  width: 8%;
  height: 2%;
  display: inline-block;
  text-align: center;


}
.footer h2, h3{

  width: 100%;
  font-size: 1.1em;
  /*font-family: "Arial", sans-serif;*/
  display: inline-block;
  text-align: center;

}




