.footer {
  background-color: #0074e4;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 98.5%;
  right: 0.75%;
  left: 0.75%;
  text-align: center;
  display: block;
  align-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.footer h1 {
  background-color: #0071c5;
  width: 10%;
  display: inline-block;
  text-align: center;
  border: 1px solid #000080; /* Light border */

}
.footer h2{
  background-color: #0071c5;
  width: 13%;
  display: inline-block;
  text-align: center;

}




