body {
  font-family: "Arial", sans-serif;
  font-size: 18px;
}
.ProductAddInfo{
  color: black;
  text-align: center;
  line-height: 1.5;
}


.sameInputType input[type="text"],
.sameInputType input[type="number"]
{
  width: 34%;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  display: inline-block;
}
.sameInputType select{
  width: 35%;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  display: inline-block;
}
/* Style for the headings within "sameInputType" */
.sameInputType label {
  width: 20%;
  display: inline-block;
  line-height: 1;
  margin: 5px 0;
  background-color: white ;

}


button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  float: right;
  position: absolute;
  left:20.5%;
}

/* Style the submit button on hover */
button[type="submit"]:hover {
  background-color: #0056b3;
}
