.ProductAddInfo{
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: black; /* Button text color */
  text-align: center;
  line-height: 1.5;
}

/* Style for input fields with the "sameInputType" class */
.sameInputType input[type="text"],
.sameInputType input[type="number"] {
  width: 30%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  display: inline-block;
}

.sameInputType h3{
  display: inline;
}

/* Style for the "description" input field */
.sameInputType .description {
  width: 40%;
  padding: 15px; /* Increase padding for better visibility */
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  resize: vertical; /* Allow vertical resizing */
  display: inline-block;
}

/* Style the submit button */
button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Style the submit button on hover */
button[type="submit"]:hover {
  background-color: #0056b3;
}
